@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

.d3-progress-bar {
  background-color: rgba(185, 18, 27, 0.6);
  height: 40px;
  width: 200px;

  .bar {
    fill: rgba(185, 18, 27, 0.8);
  }
}

.d3-weekly-reading-chart {
  .bar {
    fill: rgb(43, 51, 84);
  }
}

.skills-table {
  th {
    padding-right: 15px;
  }

  td, th {
    padding: 0;

  }
}

.calendar-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px;
}

.checked-box {
  background: #9f9;
}

.unchecked-box {
  background: #f99;
}

.unchecked-today-box {
  background: #999;

  &:hover {
    background: #666;
  }
}
