@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "select2";
@import "select2-bootstrap";

$progress-bar-color: #77C4D3;
$progress-bar-highlight-color: #333745;
$weekly-reading-bar-color: #EA2E49;
$checked-color: #333745;
$unchecked-color: #DAEDE2;
$unchecked-today-color: #77C4D3;
$main-link-color: #EA2E49;

body {
  color: $checked-color;
  font-family: "adelle";
}

.navbar-default {
  background-color: $main-link-color;
  box-shadow: none;
  border-radius: 0;
  
  .navbar-header a, .navbar-collapse li a, p.navbar-text {
    color: white;
  }
  
  .navbar-header a:hover, .navbar-collapse li a:hover {
    color: $unchecked-color;
  }
}

.d3-progress-bar {
  background-color: $progress-bar-color;
  height: 40px;
  width: 200px;

  .bar {
    fill: $progress-bar-highlight-color;
    opacity: 0.8;
  }
}

.d3-weekly-reading-chart {
  .bar {
    fill: $weekly-reading-bar-color;
  }

  .axis {
    path, .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    text {
      font-size: 11px;
      font-family: Avenir;
    }
  }
}

// .book-progress-form {
//   background-color: $progress-bar-color;
//   padding: 20px;
//
//   a {
//     color: $progress-bar-highlight-color;
//   }
// }

.checked-box {
  fill: $checked-color;
}

.unchecked-box {
  fill: $unchecked-color;
}

.unchecked-today-box {
  fill: $unchecked-today-color;
}

a {
  color: $main-link-color;
}

a:hover {
  color: darken($main-link-color, 10%);
  text-decoration: none;
}

.btn-primary {
  background-color: $main-link-color;
  border: none;
}

.btn-primary:hover {
  background-color: darken($main-link-color, 10%);
  border: none
}
