$progress-bar-color: #77C4D3;
$progress-bar-highlight-color: #333745;
$weekly-reading-bar-color: #EA2E49;
$checked-color: #333745;
$unchecked-color: #F4F4F4;
$unchecked-today-color: #77C4D3;
$main-link-color: #EA2E49;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "select2";
@import "select2-bootstrap";

body {
  color: $checked-color;
  font-family: "adelle";
  height: 100%;
}

.navbar-default {
  background: #C03246;
  box-shadow: none;
  border-radius: 0;

  a {
    color: white;

    &:hover {
      color: $unchecked-color;
    }
  }

  .navbar-nav .active a {
    $navbar-active-link-bg: #D55062;
    background: $navbar-active-link-bg;
    color: $unchecked-color;

    &:hover {
      color: $unchecked-color;
      background: darken($navbar-active-link-bg, 2%);
    }
  }

  .navbar-header a, .navbar-collapse li a, p.navbar-text {
    color: white;
  }

  .navbar-header a:hover, .navbar-collapse li a:hover {
    color: $unchecked-color;
  }

  .reading-books li {
    background: $checked-color; 
  }
}

.d3-progress-bar {
  background-color: $progress-bar-color;
  height: 40px;
  width: 200px;

  .bar {
    fill: $progress-bar-highlight-color;
    opacity: 0.8;
  }
}

.d3-weekly-reading-chart {
  .bar {
    fill: $weekly-reading-bar-color;
  }

  .axis {
    path, .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    text {
      font-size: 11px;
      font-family: Avenir;
    }
  }
}

.checked-box {
  fill: $checked-color;
}

.unchecked-box {
  fill: $unchecked-color;
}

.unchecked-today-box {
  fill: $unchecked-today-color;
}

a {
  color: $main-link-color;
}

a:hover {
  color: darken($main-link-color, 10%);
  text-decoration: none;
}

.btn-primary {
  background-color: $main-link-color;
  border: none;
}

.btn-primary:hover {
  background-color: darken($main-link-color, 10%);
  border: none
}

.alert-success {
  background-color: $unchecked-color;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $unchecked-color;
  border-color: $unchecked-color;
  color: $checked-color;
}

.navbar-visitor {
  margin-bottom: 0;
  border: 0;
  box-shadow: 0 1px;
}

.home {
  h1.main-title {
    color: $progress-bar-color;
    font-size: 44px;
    text-shadow: 2px 2px 2px $checked-color;
  }

  .background {
    position: absolute;
    z-index: -1;
    width: 100vw;
  }

  .what-is-text {
    color: $unchecked-color;
    text-shadow: 1px 1px 1px $progress-bar-color;

    li {
      font-size: 22px;
    }
  }
}

